<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>


	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Cadastrar Entradas de produtos</span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/entradas/listar}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span>Listar Entradas</span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form
				th:action="${entrada.id == null} ? @{/entradas/salvar} : @{/entradas/editar}"
				th:object="${entrada}" method="POST">

				<div th:replace="fragments/validacao :: validacao"></div>

				<div class="form-row">
				
				<div class="form-group col-md-6">
						<label for="codigo">Codigo</label> <input type="text"
							class="form-control" id="codigo" placeholder="Codigo da entrada de Produtos"
							autofocus="autofocus" th:field="*{codigo}" />
					</div>
				 <div class="form-group col-md-6">
					<label for="data_entrada">Data de Entrada</label>
	                        <input type="date" class="form-control" id="data_entrada" th:field="*{data_entrada}"
	                         th:classappend="${#fields.hasErrors('data_entrada')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
								<span th:errors="*{data_entrada}"></span>
	                        </div>
				</div>
			</div>
				<input type="hidden" id="id" name="id" th:field="*{id}" />
				<!-- Este input com id serve para garantir que ao actualizar pego o objecto correcto atraves do campo id -->
				<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
			</form>
		</div>
	</section>

</body>
</html>
