<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>


	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Registar Categorias</span></li>
				</ul>
			</div>
		</nav>

		<div class="container" id="registo">

			<div th:replace="fragments/alert"></div>

			<form
				th:action="${categoria.id == null} ? @{/categorias/registar} : @{/categorias/editar}"
				th:object="${categoria}" method="POST">

				<div th:replace="fragments/validacao :: validacao"></div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="designacao">Categoria</label> <input type="text"
							class="form-control" id="designacao"
							placeholder="Nome da Categoria" autofocus="autofocus"
							th:field="*{designacao}" value="" />
					</div>
				</div>
				<input type="hidden" id="id" name="id" th:field="*{id}" />
				<!-- Este input com id serve para garantir que ao actualizar pego o objecto correcto atraves do campo id -->
				<button type="submit" class="btn btn-primary btn-sm corPadrao"  >Salvar</button>
			</form>
		</div>
	</section>

	<script th:src="~{}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript"></script>

</body>
</html>
