<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>

	<header th:fragment="cabecalho">
		<nav class="navbar navbar-light fixed-top" style="background-color:#808000;">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="btn btn-dark navbar-toggle pull-left" style="background-color:#808000;">
						<i class="oi oi-menu"></i>
					</button>
					<a class="navbar-brand " href="#">Gestão de stock</a>
				</div>
			</div>
		</nav>
	</header>

</body>
</html>
