<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>

	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " href="/"> <i
					class="oi oi-home"></i> <span>Home</span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Categorias</span></li>
			<li class="nav-item"><a class="nav-link"
				href="/categorias/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar</span>
			</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/categorias/listar"> <i class="oi oi-spreadsheet"></i> <span>Listar
				</span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Grupos</span></li>
			<li class="nav-item"><a class="nav-link"
				href="/grupos/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar
				</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" href="/grupos/listar">
					<i class="oi oi-spreadsheet"></i> <span>Listar </span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Tipos</span></li>
			<li class="nav-item"><a class="nav-link" href="/tipos/cadastrar">
					<i class="oi oi-plus"></i> <span>Cadastrar </span>
			</a></li>
			<li class="nav-item"><a class="nav-link" href="/tipos/listar">
					<i class="oi oi-spreadsheet"></i> <span>Listar </span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Entradas</span></li>
			<li class="nav-item"><a class="nav-link"
				href="/entradas/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar
				</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" href="/entradas/listar">
					<i class="oi oi-spreadsheet"></i> <span>Listar </span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Unidades</span></li>
			<li class="nav-item"><a class="nav-link"
				href="/unidades/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar
				</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" href="/unidades/listar">
					<i class="oi oi-spreadsheet"></i> <span>Listar </span>
			</a></li>
		</ul>


	</nav>

</body>
</html>