<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>

	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " href="/"> <i
					class="oi oi-home"></i> <span>Home</span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Categorias</span></li>
			<li class="nav-item"><a class="nav-link"
				href="/categorias/registar"> <i class="oi oi-plus"></i> <span>Registar categoria</span>
			</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/categorias/visualizar"> <i class="oi oi-spreadsheet"></i> <span>Visualizar
				</span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Grupos</span></li>
			<li class="nav-item"><a class="nav-link"
				href="/grupos/registar"> <i class="oi oi-plus"></i> <span>Registar grupos
				</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" href="/grupos/visualizar">
					<i class="oi oi-spreadsheet"></i> <span>Visualizar </span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Tipos</span></li>
			<li class="nav-item"><a class="nav-link" href="/tipos/registar">
					<i class="oi oi-plus"></i> <span>Registar tipos </span>
			</a></li>
			<li class="nav-item"><a class="nav-link" href="/tipos/visualizar">
					<i class="oi oi-spreadsheet"></i> <span>Visualizar </span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Entradas</span></li>
			<li class="nav-item"><a class="nav-link"
				href="/entradas/registar"> <i class="oi oi-plus"></i> <span>Registar entradas
				</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" href="/entradas/visualizar">
					<i class="oi oi-spreadsheet"></i> <span>Visualizar </span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Unidades</span></li>
			<li class="nav-item"><a class="nav-link"
				href="/unidades/registar"> <i class="oi oi-plus"></i> <span>Registar unidades
				</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" href="/unidades/visualizar">
					<i class="oi oi-spreadsheet"></i> <span>Visualizar </span>
			</a></li>
		</ul>
		
			<ul class="nav nav-pills">
			<li class="nav-item"><span class="nav-link active">Produtos</span></li>
			<li class="nav-item"><a class="nav-link"
				href="/produtos/registar"> <i class="oi oi-plus"></i> <span>Registar produtos
				</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" href="/produtos/visualizar">
					<i class="oi oi-spreadsheet"></i> <span>Visualizar </span>
			</a></li>
		</ul>


	</nav>

</body>
</html>