<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Registar Grupos</span></li>
				</ul>
			</div>
		</nav>

		<div class="container" id="registo">

			<div th:replace="fragments/alert"></div>

			<form
				th:action="${grupo.id == null} ? @{/grupos/registar} : @{/grupos/actualizar}"
				th:object="${grupo}" method="POST">
				<div class="form-row">

					<div th:replace="fragments/validacao :: validacao"></div>


					<div class="form-group col-md-6">
						<label for="designacao">Nome do Grupo</label> <input type="text"
							class="form-control" id="designacao" placeholder="Nome Grupo"
							autofocus="autofocus" th:field="*{designacao}" />
					</div>
					<div class="form-group col-md-4">
						<label for="categoria">Categorias</label> <select id="categoria"
							class="form-control" th:field="*{categoria}">
							<option value="">Selecione uma categoria</option>
							<option th:each="c: ${categorias}" th:value="${c.id}"
								th:text="${c.designacao}">CAT A</option>
						</select>
					</div>
				</div>
				<input type="hidden" id="id" th:field="*{id}" value="" />
				<button type="submit" class="btn btn-primary btn-sm corPadrao">Registar</button>
			</form>
		</div>
	</section>

	<script th:src="~{}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript"></script>

</body>
</html>
