<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Cadastrar Produtos</span></li>
				</ul>
			</div>
			<a class="btn btn-primary btn-md" href="/produtos/listar"
				role="button"> <span class="oi oi-spreadsheet" title="Cadastro"
				aria-hidden="true"></span> <span>Listar Produtos</span>
			</a>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form
				th:action="${produto.id == null} ? @{/produtos/salvar} : @{/produtos/editar}"
				th:object="${produto}" method="POST">

				<div class="form-row">

					<div th:replace="fragments/validacao :: validacao"></div>

					<div class="form-group col-md-4">
						<label for="categoria">Categorias</label> <select id="categoria"
							class="form-control">
							<option value="">Selecione uma categoria</option>
							<option th:each="c: ${categorias}" th:value="${c.id}"
								th:text="${c.designacao}">CATEGORIA A</option>
						</select>
					</div>

					<div class="form-group col-md-4">
						<label for="grupo">Grupos</label> <select id="grupo"
							class="form-control" th:field="*{grupo}">
							<option value="">Selecione um grupo</option>
							<option th:each="g: ${grupos}" th:value="${g.id}"
								th:text="${g.designacao}">GRUPO A</option>
						</select>
					</div>

					<div class="form-group col-md-6">
						<label for="designacao">Nome do Produto</label> <input type="text"
							class="form-control" id="designacao" placeholder="Nome Produto"
							autofocus="autofocus" th:field="*{designacao}" />
					</div>
					<div class="form-group col-md-4">
						<label for="unidade">Unidades</label> <select id="unidade"
							class="form-control" th:field="*{unidade}">
							<option value="">Selecione uma unidade</option>
							<option th:each="u: ${unidades}" th:value="${u.id}"
								th:text="${u.designacao}">CAT A</option>
						</select>
					</div>

					<div class="form-group col-md-6">
						<label for="quantidade">Quantidade</label> <input type="text"
							class="form-control" id="quantidade"
							placeholder="Quantidade de Produto" autofocus="autofocus"
							th:field="*{quantidade}" />
					</div>

				</div>

				<input type="hidden" id="id" th:field="*{id}" value="" />
				<button type="submit" class="btn btn-primary btn-sm">Salvar</button>

			</form>
		</div>
	</section>

	<script th:src="@{/js/produto.js?(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
		
	</script>

</body>
</html>
